
<h2>注文履歴一覧</h2>

<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>
        注文ステータス
      </th>
    </tr>
  </thead>
  
  <tbody>
    <% @a_orders.each do |a_order| %>  
      <tr>
        <td><%= link_to a_order.created_at, admin_a_order_path(a_order.id) %></td>
        <td><%= a_order.customer_id %></td>
        <td><%= a_order.order_item.quantity %></td>
        <td>
          注文ステータス
        </td>
      </tr>
    <% end %>
  </tbody>
</table>