
<h2>注文履歴一覧</h2>

<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>
        注文ステータス
      </th>
    </tr>
  </thead>
  
  <tbody>
    <% @a_orders.each do |a_order| %>  
      <tr>
        <td><%= link_to a_order.created_at, admin_a_order_path(a_order.id) %></td>
        <td><%= a_order.customer.first_name %> <%= a_order.customer.last_name %></td>
        <td><%= a_order.order_items.all.sum(:quantity) %></td>
        <td>
          <% if a_order.order_status == 0 %>
            入金待ち
          <% elsif a_order.order_status == 1 %>
            <% if (!a_order.order_items.where(create_status:1).exists?) && (!a_order.order_items.where(create_status:2).exists?) %>
              入金確認
            <% elsif (!a_order.order_items.where(create_status:0).exists?) && (!a_order.order_items.where(create_status:1).exists?) %>
              発送準備中
            <% else %>
              製作中
            <% end %>
          <% else %>
            発送済み
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>