<div class="about-image">
  <h1 class="text-center">About</h1><br><br>
  <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br><br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br><br>
  様々な<%= link_to "バリエーション", c_items_path %>をご用意しております。<br><br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
  ぜひご注文ください。
  </p>
</div>