<div class="main_imgBox">
  <div class="main_img" style="background-image: url(assets/top/sample1.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/sample2.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/sample3.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/sample4.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/sample5.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/sample6.jpg)"></div>
</div>

<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。
</p>

<h2>新着商品</h2>
<% @items.each do |item| %>
  <%= attachment_image_tag(item, :image, size: "100x100", fallback: "no_image.png") %>
  <%= item.name %>
  <%= "￥#{item.price*1.1.floor}" %>
<% end %>

<%= link_to "すべての商品を見る＞", c_items_path %>
